.wrap-loader{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: .5);

  .loader{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url(^assets/loader/loader.svg);
  }
}