<h2 mat-dialog-title>Load files</h2>
<mat-dialog-content class="mat-typography">
  <div class="wrap-drag">
    <input
    type="file"
    #input
    class="fileDrop"
    [multiple]="data.multiple"
    [accept]="data.accept"
    (change)="getFiles($event)"
    >
    <div class="drag-text row center-xs middle-xs">
      <p>Select or drag documents</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [disabled]="files.length === 0">Accept</button>
</mat-dialog-actions>
