@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import './palette.scss';

@include mat.core();

// LIGHT THEME

$template-primary-light: mat.define-palette(mat.$blue-grey-palette);
$template-accent-light: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$template-warn-light: mat.define-palette(mat.$deep-orange-palette);

$template-typography: mat.define-typography-config(
  $font-family: 'Poppins',
);

$template-theme-light: mat.define-dark-theme((
  color: (
    primary: $template-primary-light,
    accent: $template-accent-light,
    warn: $template-warn-light,
  )
));

@include mat.all-component-typographies($template-typography);
@include mat.all-component-themes($template-theme-light);
